.layui-table-cell{
    height: auto;
    word-wrap: break-word;
    white-space: normal;
    word-break: break-all;
}
.thumb{
    width:220px;
    height: 150px;
}
.layui-table img{
    max-width: 220px;
}
.newsHead h2 a{
    font-size: 18px;
    line-height: 1.4;
    font-weight: bold;
}
.post-like,.comment-num{
    float:right;
    margin: 0px 5px;
}
.note{
    font-size: 12px;
    color:#999;
    word-wrap: break-word;
    line-height:22px;
    margin-bottom:0;
}
.brand{
    background-color: #01070e;
    text-align: center;
    padding: 30px 20px;
}
.btn-lg{
    font-size: 18px;
    margin: 10px 10px 10px 10px;
    border-color: #ccc;
    color:#fff;
}

.newsHead > div{
    display: inline-block;
}

.hotLabel h3{
    border-bottom: 1px blue solid;
    padding: 15px 5px;
}

.hotLabel > a{
    display: inline-block;
    width: 39%;
    color: #fff;
    padding: 3px 6px;
    margin: 4px 0px 0 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 5px;
    /*animation 时间 播放次数*/
    animation:myfirst 5s infinite;
    /*是否循环交替反向播放动画*/
    animation-direction:alternate;
}

@keyframes myfirst
{
    0% {background:blue;}
    12% {background:cornflowerblue;}
    30% {background:palevioletred;}
    42% {background:pink;}
    56% {background:green;}
    69% {background:darkslategrey;}
    82% {background:yellowgreen;}
    100% {background:purple;}
}



